* {
    font-family: "Noto Sans", sans-serif;
}

html, body {
    background-color: #313131;
    color: white;
}

textarea, input {
    background-color: #444343;
    color: white;
}

.button {
    background-color: lightseagreen;
    text-align: center;

    box-shadow: 0 1px 3px rgba(255, 255, 255, 0.26);
    border-radius: 2px;
}

.button:hover {
    box-shadow: inset 1px 1px 3px 1px white;
}

progress {
    width: 100%;
}